#List

In [5]:
L =[1,2,3,4,5,6,121,43]

In [6]:
print(L)

[1, 2, 3, 4, 5, 6, 121, 43]

.Indexing of list

In [7]:
L[0],L[3],L[-1],L[-3]

(1, 4, 43, 6)

* For the length of list

In [9]:
len(L)

8

* To add the element from last

In [14]:
L.append(22)
L

[1, 2, 3, 4, 5, 6, 121, 43, 69, 69, 69, 69, 22]

To find sum of the elements

In [15]:
sum(L)

483

To find maximum and minimum of the list

In [16]:
max(L),min(L)

(121, 1)

? To create a list of heterogeneous element types

In [23]:
L =[1,2,3,4,5.0,"Banana",True,False]

In [25]:
type(L[2]),type(L[5])

(int, str)

In [27]:
type(L[4]) ,type(L[-1])

(float, bool)

# To create a list of list

In [1]:
L =[[1,2,3],[4,5,6],[7,8,9]]

To find list inside a list

In [2]:
L[0][2]

3

.To add two lists in case of set

In [3]:
L1 = [1,2,3] ; L2 = [2,4,6]
L1+L2, set (L1+L2)

([1, 2, 3, 2, 4, 6], {1, 2, 3, 4, 6})

To add element fromend of the list

In [4]:
L = [1,2,3,4,9,0,6]
L.append(45)
L

[1, 2, 3, 4, 9, 0, 6, 45]

To insert (29) on first index

In [5]:
L = [1,2,3,4,9,0,6]
L.insert(1,29)
L

[1, 29, 2, 3, 4, 9, 0, 6]

To remove an element (2)

In [6]:
L = [1,2,3,4,9,0,6]
L.remove(2)
L

[1, 3, 4, 9, 0, 6]

To remove the element from specific index

In [7]:
L = [1,2,3,4,9,0,6]
L.pop(-2)
L

[1, 2, 3, 4, 9, 6]

To sort the list

In [49]:
L = [1,2,3,4,9,0,6]
L.sort()
L

[0, 1, 2, 3, 4, 6, 9]

To reverse the list

In [9]:
L = [1,2,3,4,9,0,6]
L.reverse()
L

[6, 0, 9, 4, 3, 2, 1]

List comprehension

In [10]:
L = [x for x in range(50)]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [11]:
L = [x for x in range(50) if x%2==0]
print(L)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [12]:
import random as rn
rn.randint(0,50)

29

In [14]:
import random as rn
R = [rn.randint(0,50) for k in range (100)]
print(R)

[5, 28, 31, 1, 20, 38, 36, 44, 23, 18, 29, 38, 12, 15, 1, 20, 30, 5, 47, 43, 35, 49, 3, 34, 27, 8, 12, 48, 43, 47, 21, 16, 23, 12, 33, 3, 13, 28, 14, 19, 28, 6, 18, 2, 32, 6, 26, 5, 12, 1, 22, 20, 43, 13, 40, 5, 33, 2, 31, 28, 37, 18, 45, 15, 20, 41, 9, 20, 32, 15, 30, 18, 42, 33, 29, 50, 37, 31, 17, 42, 31, 30, 2, 39, 32, 10, 33, 20, 32, 45, 20, 9, 18, 8, 7, 24, 2, 43, 50, 28]

In [16]:
R = [rn.choice(['A' ,'T','G','C']) for i in range (200)]
print(R)

['A', 'C', 'C', 'G', 'T', 'A', 'G', 'C', 'A', 'G', 'G', 'G', 'C', 'A', 'G', 'G', 'G', 'T', 'C', 'C', 'A', 'A', 'T', 'G', 'T', 'T', 'C', 'A', 'A', 'G', 'A', 'T', 'T', 'A', 'C', 'C', 'C', 'G', 'G', 'G', 'T', 'T', 'T', 'G', 'C', 'C', 'C', 'C', 'G', 'G', 'T', 'T', 'G', 'C', 'C', 'C', 'A', 'G', 'T', 'C', 'T', 'C', 'A', 'C', 'C', 'C', 'C', 'A', 'A', 'C', 'G', 'C', 'G', 'A', 'T', 'A', 'C', 'A', 'T', 'G', 'C', 'G', 'G', 'C', 'A', 'T', 'G', 'C', 'A', 'C', 'A', 'G', 'G', 'C', 'T', 'A', 'A', 'A', 'G', 'C', 'C', 'A', 'T', 'A', 'C', 'T', 'T', 'T', 'A', 'C', 'A', 'C', 'A', 'C', 'G', 'A', 'A', 'C', 'C', 'A', 'G', 'A', 'T', 'A', 'T', 'G', 'A', 'A', 'C', 'T', 'A', 'T', 'C', 'C', 'A', 'T', 'A', 'T', 'A', 'C', 'G', 'A', 'T', 'G', 'G', 'G', 'A', 'C', 'G', 'G', 'A', 'A', 'T', 'A', 'G', 'C', 'C', 'T', 'A', 'G', 'G', 'C', 'T', 'C', 'G', 'C', 'G', 'C', 'G', 'T', 'A', 'G', 'T', 'C', 'A', 'A', 'T', 'T', 'G', 'A', 'A', 'G', 'T', 'G', 'A', 'T', 'C', 'A', 'G', 'G', 'G', 'T', 'T', 'A', 'T', 'G', 'C', 'G', 'C', 'A']

# Tuples

To define a tuple from scratch

In [17]:
t =(2,3,4,6)

Find type

In [18]:
type(t)

tuple

In [19]:
t[2]

4

In [20]:
L =[(1,2),(2,3),(3,4)]

In [21]:
L[0][0]

1

Create a list of tuple

In [22]:
L =[(1,2),("a","b"),(True,False)]
L

[(1, 2), ('a', 'b'), (True, False)]

# Dictionary

## Initiate dictionary

In [23]:
D = dict()
DD = {}

Create a dictionary from scratch

In [25]:
D ={"fruits": 'banana',
     "Vegetable": 'radish',
     "rice": '3.00',
     "water": '100'}

What are keys?

In [26]:
D.keys()

dict_keys(['fruits', 'Vegetable', 'rice', 'water'])

In [27]:
D.values()

dict_values(['banana', 'radish', '3.00', '100'])